<h1>Reset your password</h1>

<%= form_with model: @user, url: password_reset_path(token: params[:token]), method: :patch do |form| %>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div>
    <%= form.submit "Update password" %>
  </div>
<% end %>
