<article>
  <h1>Add stats</h1>
  <p>You have <%= active_character.points %> points left.</p>

  <%= form_tag character_add_stat_path do |form| %>
    <div>
      <%= label_tag :stat, 'Select a stat:' %>
      <%= select_tag :stat, options_for_select([['Strength', 'strength'], ['Agility', 'agility'], ['Vitality', 'vitality'], ['Energy', 'energy']]) %>
    </div>

    <div>
      <%= label_tag :amount, 'Enter amount to add:' %>
      <%= number_field_tag :amount, nil, placeholder: 'Enter amount', min: 1 %>
    </div>

    <%= submit_tag 'Submit' %>
  <% end %>
</article>
