<article>
  <h1>Maps to teleport</h1>

  <table>
    <tr>
      <th style="text-align: left;">Map</th>
      <th>LVL</th>
      <th>Cost</th>
      <th></th>
    </tr>
    <% @maps.each do |map| %>
      <tr>
        <td><%= map.name %></td>
        <td style="text-align: center;"><%= map.min_level %></td>
        <td style="text-align: center;<%= "color: #df5a3a;" if map.teleport_cost > 0 %>"><%= map.teleport_cost %></td>
        <% if map.teleport_cost == 0 %>
          <td style="text-align: center;">
            <%= button_to 'Teleport', url_for(controller: :teleports, action: :create, id: map.id), method: :post %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</article>
