<article>
  <% if @monster.present? %>
    <section style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <h2>Combat</h2>

      <table class="quick-combat">
        <tr>
          <td><%= active_character.name %>[<%= active_character.level %>]</td>
          <td>versus</td>
          <td><%= @monster.monster_type.name %>[<%= @monster.monster_type.level %>]</td>
        </tr>
        <!-- Avatars -->
        <tr>
          <td>
            <div class="avatar player-avatar"></div>
          </td>
          <td></td>
          <td>
            <div class="avatar enemy-avatar"></div
          </td>
        </tr>
        <!-- Attack rate -->
        <tr>
          <td><%= active_character.attack_rate %></td>
          <td><p title="Attack Rate (Accuracy)">ACC</p></td>
          <td><%= @monster.monster_type.attack_rate %></td>
        </tr>
        <!-- Attack power -->
        <tr>
          <td><%= active_character.min_attack %> - <%= active_character.max_attack %></td>
          <td><p title="Min and Max Attack Power">ATK</p></td>
          <td><%= @monster.monster_type.min_attack %> - <%= @monster.monster_type.max_attack %></td>
        </tr>
        <!-- Defense rate -->
        <tr>
          <td><%= active_character.defense_rate %></td>
          <td><p title="Defense Success Rate">DSR</p></td>
          <td><%= @monster.monster_type.defense_rate %></td>
        </tr>
        <!-- Defense -->
        <tr>
          <td><%= active_character.defense %></td>
          <td><p title="Defense">DEF</p></td>
          <td><%= @monster.monster_type.defense %></td>
        </tr>
        <!-- Health -->
        <tr>
          <td><%= active_character.max_health %></td>
          <td><p title="Health Points">HP</p></td>
          <td><%= @monster.monster_type.health %></td>
        </tr>
      </table>

      <%= form_with url: combat_path, method: :post do |form| %>
        <%= hidden_field_tag :monster_type_id, @monster.monster_type.id %>
        <%= form.submit "Attack" %>
      <% end %>
    </section>
  <% end %>

  <% if @paths.present? %>
    <div class="hr"></div>
    <div class="hr"></div>

    <ul class="menu">
      <% @paths.each do |path| %>
        <% if path.monsters.any? %>
          <li class="menu-item">
            <%= button_to path.name, url_for(controller: :adventures, action: :travel, id: path.id), :method => :post %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</article>
