<article>
  <h1><%= @map.name %></h1>

  <% if @monsters.present? %>
    <ul class="menu">
      <li class="menu-item menu-header">Monsters:</li>
      <% @monsters.each do |monster| %>
        <li class="menu-item">
          <div class="row-block">
            <%= monster.monster_type.name %>[<%= monster.monster_type.level %>]
            <div class="max-health">
              <p class="health-value"><%= monster.health %> / <%= monster.monster_type.health %></p>
              <div style="width: <%= monster_health_percent(monster) %>%;" class="current-health"></div>
            </div>

            <div
              class="row-block"
              data-controller="attack-delay"
              data-attack-delay-delay-value="<%= active_character.attack_delay_left.to_s %>"
            >
              <%= button_to "Attack", receive_attack_damage_monster_path(monster),
                disabled: true,
                data: { turbo_method: :post, attack_delay_target: "attack" },
                class: "action-button" %>
              <p data-attack-delay-target="timer" style="display:none;">
                <span data-attack-delay-target="time">
                  <%= active_character.attack_delay_left %>
                </span> seconds
              <p>
            </div>
          <div>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @logs.present? %>
    <ul>
      <% @logs.each do |log| %>
        <li><%= log.description %></li>
      <% end %>
    </ul>
  <% end %>

  <% if @paths.present? %>
    <div class="hr"></div>
    <div class="hr"></div>

    <ul class="menu">
      <li class="menu-item menu-header">Travel to:</li>
      <% @paths.each do |path| %>
        <li class="menu-item">
          <%= button_to path.name, url_for(controller: :adventures, action: :travel, id: path.id), :method => :post %>
        </li>
      <% end %>
      <li class="menu-item menu-header">Or:</li>
      <li class="menu-item"><%= link_to "Teleport", new_teleport_path %></li>
    </ul>
  <% end %>
</article>
