<article id="characters" class="characters">
  <header>
    <h1>My characters</h1>
    <p>You can create new character or choose character to play with.</p>
    <%= link_to "New character", new_character_path %>
  </header>

  <% @characters.each do |character| %>
    <section>
      <%= link_to character_path(character) do %>
        <h2>
          <%= character.name %>
          <% if character == player %>
            <sup>*</sup>
          <% end %>
        </h2>
      <% end %>

      <p>
        <%= character.profession.name %> <strong>[<%= character.level %>]</strong>
      </p>
      
      <% if character != player %>
        <%= button_to "Activate", activate_character_path(character), method: :post %>
      <% end %>
    </section>
  <% end %>
</article>
