<article>
  <h1>My characters</h1>

  <section class="action-block">
    <div class="action-descriptions">
      <p>You can create new character or choose character to play with.</p>
    </div>
    <%= link_to "New character", new_character_path, class: "action-button" %>
  </section>
  
  <article style="padding: 0px 6px;">
    <% @characters.each do |character| %>
      <section>
        <%= link_to character_path(character) do %>
          <h2>
            <%= character.name %>
            <% if character == Current.character %>
              <sup>*</sup>
            <% end %>
          </h2>
        <% end %>

        <p>
          PROF <strong>[<%= character.level %>]</strong>
        </p>
        
        <% if character != Current.character %>
          <%= button_to "Activate", activate_character_path(character), method: :post, class: "action-button" %>
        <% end %>
      </section>
    <% end %>
  </article>
</article>
