<article>
  <h1>Create character</h1>

  <%= form_with model: @character, url: characters_path do |form| %>
    <% if @character.errors.any? %>
      <div class="error_messages">
        <h2>Errors:</h2>
        <ul>
          <% @character.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :type %>
      <%= form.select :type, Characters::Character.character_types %>
    </div>

    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.submit "Create" %>
    </div>
  <% end %>
</article>
