<article>
  <h1>Create character</h1>

  <%= form_with model: @character, url: characters_path do |form| %>
    <% if form.object && form.object.errors.any? %>
      <% form.object.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    <% end %>

    <div>
      <%= form.label :character_type %>
      <%= form.select :type, Characters::Character.character_types %>
    </div>

    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.submit "Create" %>
    </div>
  <% end %>
</article>
