<article>
  <% image_tag "469x469_dark_wizard.png", alt: "Dark Wizard portret" %>
  
  <h3>Character</h3>
  <table>
    <tbody>
      <tr>
        <td colspan="2"></td>
        <td>Name</td>
        <td><%= @character.name %></td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td>Class</td>
        <td>Prof</td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td>Experience</td>
        <td>
          <%= (@character.experience.to_f / @character.max_experience * 100).floor %>%
        </td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td>Level</td>
        <td><%= @character.level %></td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td>Points</td>
        <td><%= @character.points %></td>
      </tr>
    </tbody>
  </table>

  <h3>Attributes</h3>
  <table>
    <tbody>
      <!-- Strength -->
      <tr>
        <td colspan="2"><strong>Strength</strong></td>
        <td></td>
        <td style="display: flex; gap: 5px">
          <strong><%= @character.strength %></strong>
          <% unless @character.points.zero? %>
            <%= button_to '+', add_strength_path, method: :post %>
          <% end %>
        </td>
      </tr>
      <% unless @character.has_wizardy? %>
      <tr>
        <td colspan="2"></td>
        <td>Attack</td>
        <td>
          <%= @character.min_attack %>
          &mdash;
          <%= @character.max_attack %>
        </td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td>Attack rate</td>
        <td><%= @character.attack_rate %></td>
      </tr>
      <% end %>

      <!-- Agility -->
      <tr>
        <td colspan="2"><strong>Agility</strong></td>
        <td></td>
        <td style="display: flex; gap: 5px">
          <strong><%= @character.agility %></strong>
          <% unless @character.points.zero? %>
            <%= button_to '+', add_agility_path, method: :post %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td>Defense</td>
        <td><%= @character.defense %></td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td>Defense rate</td>
        <td><%= @character.defense_rate %></td>
      </tr>

      <!-- Vitality -->
      <tr>
        <td colspan="2"><strong>Vitality</strong></td>
        <td></td>
        <td style="display: flex; gap: 5px">
          <strong><%= @character.vitality %></strong>
          <% unless @character.points.zero? %>
            <%= button_to '+', add_vitality_path, method: :post %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td>Health</td>
        <td><%= @character.max_health %></td>
      </tr>

      <!-- Energy -->
      <tr>
        <td colspan="2"><strong>Energy</strong></td>
        <td></td>
        <td style="display: flex; gap: 5px">
          <strong><%= @character.energy %></strong>
          <% unless @character.points.zero? %>
            <%= button_to '+', add_energy_path, method: :post %>
          <% end %>
        </td>
      </tr>
      <% if @character.has_wizardy? %>
      <tr>
        <td colspan="2"></td>
        <td>Attack</td>
        <td>
          <%= @character.min_attack %>
          &mdash;
          <%= @character.max_attack %>
        </td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td>Attack rate</td>
        <td><%= @character.attack_rate %></td>
      </tr>
      <% end %>
      <tr>
        <td colspan="2"></td>
        <td>Mana</td>
        <td><%= @character.mana %></td>
      </tr>
    </tbody>
  </table>
</article>
