<article>
  <h1>Create character</h1>

  <%= form_with model: @character, url: start_path do |form| %>
    <% if form.object && form.object.errors.any? %>
      <% form.object.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    <% end %>

    <div>
      <%= form.label :profession %>
      <%= form.collection_select :profession, Profession.all, :code, :name %>
    </div>

    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.submit "Play" %>
    </div>
  <% end %>
</article>
