<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Author" content="Vyacheslav Odinokov">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Cloud MU Online</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
        <% if user_signed_in? %>
          <% if active_character %>
            <li>
              <%= link_to "Hunting", spot_path %>
            </li>
            <li>
              <%= link_to "Map", map_path %>
            </li>
            <li>
              <%= link_to "Teleport", new_teleport_path %>
            </li>
            <li>
              <%= link_to "Character", character_path(active_character) %>
            </li>
          <% end %>
          <li>
            <%= link_to "Settings", settings_path %>
          </li>
          <li>
            <%= link_to "Log Out", session_path, data: { "turbo-method": :delete } %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign Up", new_registration_path %>
          </li>
          <li>
            <%= link_to "Log In", new_session_path %>
          </li>
        <% end %>
        </ul>
      </nav>
    </header>

    <main>
      <% if notice or alert %>
        <article>
          <p><%= notice %></p>
          <p><%= alert %></p>
        </article>
      <% end %>

      <%= yield %>
    </main>

    <footer>
      <small>&copy; 2024 Vyacheslav Odinokov. All rights reserved.</small>
    </footer>
  </body>
</html>
