<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Author" content="Vyacheslav Odinokov">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Cloud MU Online</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "icons", "layout", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <article class="root">
      <main>
        <header>
          <%= link_to root_path, title: "To main page", class: "w-full" do %>
            <h1>Cloud MU Online</h1>
          <% end %>
        </header>

        <% if current_user&.is_guest %>
          <article class="complete-register">
            <%= link_to new_registration_path, title: "Complete registration" do %>
              <p>Register your account and get rewards</p>
            <% end %>
          </article>
        <% end %>
        
        <% if user_signed_in? %>
          <section class="player-status">
            <% if active_character %>
              <div class="player-info">
                <p>
                  <span class="icon dark-wizard-icon"></span>
                  <%= active_character.name %>
                </p>

                <p>
                  <span class="icon health-icon"></span>
                  <%= active_character.health %> / <%= active_character.max_health %>
                </p>
                <p>
                  <span class="icon mana-icon"></span>
                  <%= active_character.mana %> / <%= active_character.max_mana %>
                </p>
                <p>
                  <span class="icon activity-icon"></span>
                  <%= active_character.activity %>
                </p>

                <p>
                  <span class="icon gold-coin-icon"></span>
                  <%= active_character.gold %>
                </p>
              </div>
            <% end %>
          </section>
        <% end %>

        <% if notice or alert %>
          <article class="notification">
            <% if notice %>
              <p><%= notice %></p>
            <% end %>
            <% if alert %>
              <p><%= alert %></p>
            <% end %>
          </article>
        <% end %>

        <%= yield %>

        <% if user_signed_in? %>
          <section class="">
            <div class="hr"></div>
            <div class="hr"></div>
              <ul class="menu player-menu">
                <% if active_character %>
                  <li class="menu-item dev"><%= link_to "Adventure", adventure_path %></li>
                  <li class="menu-item"><%= link_to "Character", character_path(active_character) %></li>
                <% end %>
                <li class="menu-item"><%= link_to "Settings", settings_path %></li>
                <li class="menu-item"><%= button_to "Logout", session_path, method: :delete %></li>
              </ul>
            <div class="hr"></div>
            <div class="hr"></div>
          <section>
        <% end %>
      </main>
      <footer>
        <small>&copy; 2024 Vyacheslav Odinokov. All rights reserved.</small>
      </footer>
    </article>
  </body>
</html>
