<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Author" content="Vyacheslav Odinokov">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Cloud MU Online</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <article class="root">
      <% if user_signed_in? %>
        <header>
          <% if player %>
            <div class="player-info">
              <p class="player-status">
                <span class="icon dark-wizard-icon"></span>
                <%= player.name %>
              </p>

              <p class="player-status">
                <span class="icon health-icon"></span>
                100
                <span class="icon mana-icon"></span>
                100
              </p>

              <p class="player-status">
                <span class="icon gold-coin-icon"></span>
                228
              </p>
            </div>
          <% end %>
        </header>
      <% end %>

      <main>
        <header>
          <%= link_to root_path, title: "To main page", class: "w-full" do %>
            <h1>Cloud MU Online</h1>
          <% end %>
        </header>

        <% if notice or alert %>
          <article class="notification">
            <% if notice %>
              <p><%= notice %></p>
            <% end %>
            <% if alert %>
              <p><%= alert %></p>
            <% end %>
          </article>
        <% end %>

        <%= yield %>

        <% if user_signed_in? %>
          <section class="">
            <div class="hr"></div>
            <div class="hr"></div>
            <% if player %>
              <ul class="menu player-menu">
                <li class="menu-item"><%= link_to "Teleport", new_teleport_path %></li>
                <li class="menu-item dev"><%= link_to "Character", character_path(player) %></li>
                <li class="menu-item"><%= link_to "Settings", settings_path %></li>
                <li class="menu-item"><%= button_to "Logout", session_path, method: :delete %></li>
              </ul>
            <% end %>
            <div class="hr"></div>
            <div class="hr"></div>
          <section>
        <% end %>
      </main>
      <footer>
        <small>&copy; 2024 Vyacheslav Odinokov. All rights reserved.</small>
      </footer>
    </article>
  </body>
</html>
