<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Author" content="Vyacheslav Odinokov">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Cloud MU Online</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
        <% if user_signed_in? %>
        <li>
          <%= link_to "Characters", characters_path %>
        </li>
        <li>
          <%= link_to "Edit Password", edit_password_path %>
        </li>
        <li>
          <%= button_to "Log Out", session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign Up", new_registration_path %>
        </li>
        <li>
          <%= link_to "Log In", new_session_path %>
        </li>
        <% end %>
        </ul>
      </nav>
    </header>

    <article>
      <p><%= notice %></p>
      <p><%= alert %></p>
    </article>

    <%= yield %>

    <footer>
      <small>&copy; 2024 Vyacheslav Odinokov. All rights reserved.</small>
    </footer>
  </body>
</html>
